<h1>Editing leak</h1>

<%= render 'form' %>

<%= link_to 'Show', @leak %> |
<%= link_to 'Back', leaks_path %>

<h4>All Associated Credentials</h4>
<%= render :partial => "credentials", :object => @leak.credentials %>
