// Place all the styles related to the leaks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.credentials td, table.credentials th {
  padding: 2px 6px;
}

table.zebra td:nth-child(even), table.zebra th:nth-child(even) {
  background-color: #DDD;
}

div.field {
  padding: 5px 0px;
}

table.listing td {
  padding: 2px 5px;
}

table.stats {
  td, th {
    text-align: left;
    padding: 0 5px;
  }
}

.leak-info {
  padding: 0 0 20px 0;
}

.plot {
  padding: 12px;
  width: 700px;
  height: 450px;
}

.timestamp {
  float: right;
}

.stat-container {
  padding: 15px 22px;
  h4 {
    margin-bottom: 15px;
  }
}

h3.stat {
  padding-left: 22px;
}
