<h1>Contact Us</h1>

<div id="summary">
  We'd love to hear from you!  Feel free to email us or say hello on twitter.  
</div>

<div id="twitter">
  <h3>Twitter</h3>
  <ul>
    <li><a href="http://twitter.com/biosshadow">@biosshadow</a></li>
    <li><a href="http://twitter.com/undeadsecurity">@undeadsecurity</a></li>
    <li><a href="http://twitter.com/bensonk42">@bensonk42</a></li>
  </ul>
</div>

<div id="email">
  <h3>Email</h3>
  General panic-related stuff should go to &lt;contact AT
  panic-project.com&gt;.  We also have aliases for biosshadow, znb, and bensonk
  at the same domain. 
</div>
