<h1>The PANIC Project</h1>

<p>
Welcome to the PANIC project.  We collect all the leaked passwords we can
and analyze them so you don't have to.
</p>

<p>
If you'd like to learn a bit more about panic, head on over to the 
<%= link_to 'about', '/about' %> page.
</p>
