<h1>The PANIC Project</h1>

<p>
Initially concieved at BRUCon 2011, the PANIC Project exists to collect,
warehouse, and analyze leaked password data.  In deference to the privacy
concerns of the folks whose data has been leaked, we choose not to share our
raw data with the world, but all of our software and results are free and open
source. 
</p>

<p>
A large corpus of real-world passwords can give us a great many insights, and we're always looking for new questions to answer.  Currently, we're trying to come up with answers to the following questions:
</p>

<ul>
  <li>What are the most commonly used passwords?</li>
  <li>What strength criteria should system and network administrators impose on their users to best balance strength with usability?</li>
  <li>
  How are the common passwords changing over time?
  <ul>
    <li>Are people learning to use stronger passwords?</li>
    <li>Do commonly used passwords follow any trends?</li>
  </ul>
  </li>
  <li>Can we detect any trends in whose passwords or hashes get leaked?</li>
</ul>

<p>
If there are interesting questions you think we might be able to answer, hit us
(<a href="http://twitter.com/biosshadow">@biosshadow</a>,
<a href="http://twitter.com/bensonk42">@bensonk42</a> and
<a href="http://twitter.com/undeadsecurity">@undeadsecurity</a>) up on twitter.
We'd love to hear from you. 
</p>
