<h3>Statistical Overview</h3>

<div id="charts" class="leak-info">
  <h4>All-time Strength Distribution</h4>
  <div id="strength-canvas" class="plot"></div>

  <h4>All-time Length Distribution</h4>
  <div id="length-canvas" class="plot"></div>

  <h4>All-time Character Complexity Distribution</h4>
  <div id="complexity-canvas" class="plot"></div>

  <script type="text/javascript">
    var length_distribution = <%= JSON.dump(@stats.length_distribution).html_safe %>;
    var strength_distribution = <%= JSON.dump(@stats.strength_distribution).html_safe %>;
    var complexity_distribution = <%= JSON.dump(@stats.complexity_distribution).html_safe %>;
    make_distribution("#strength-canvas", strength_distribution, "#7C7");
    make_distribution("#length-canvas", length_distribution, "#77C");
    make_distribution("#complexity-canvas", complexity_distribution, "#C77");
  </script>
</div>
